/* google font inter*/

.inter-font {
  font-family: "Inter", sans-serif;
}
/* google font hind madurai */
.hind-madurai-light {
  font-family: "Hind Madurai", sans-serif;
}
/* google font roboto */

.roboto-font {
  font-family: "Roboto", sans-serif;
}